@import './variables.scss';

@import '../materialize/sass/materialize.scss';


// Playfair Font
@font-face {
  font-family: PlayFair;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: PlayFair;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: PlayFair;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: PlayFair;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'Playfair';
  // color: $brown_dark;
}

// Rudiment Font

@font-face {
  font-family: Rudiment;
  src: url(../fonts/rudiment/Rudiment-0gwP.ttf);
}

// C Hand Demo Font

@font-face {
  font-family: CHand;
  src: url(../fonts/chalk-hand-lettering/Chalk-hand-lettering-shaded_DEMO.otf);
}