
// colors
$white: #ffffff;
$black: #000000;
$black2: #1a1a1b;
$beige: #f8f8d9;
$gray_beige: #efc99f;
$silver_light: #e9e5e1;
// rustic colors
$yellow: #ffb300;
$orange: #e77d01;
$brown_dark: #1c1207;
$graphite: #303a43;
$brown: #551400;
$brown_shades: #6f4826;
$grey: #706344;
$teste: #080808;
$teste1: #95703d;
$teste3: #d1d97a;
$dark_green: #5a630d;