
// colors
$black: #000000;
$black2: #1a1a1b;
$beige: #f8f8d9;

// rustic colors
$yellow: #ffb300;
$orange: #e77d01;
$brown_dark: #1c1207;
$brown: #551400;
$grey: #706344;
$teste: #3d3116;
$teste1: #95703d;
$teste2: #efc99f;
$teste3: #d1d97a;
$teste4: #5a630d;