
// colors
$white: #ffffff;
$black: #000000;
$black2: #1a1a1b;
$beige: #d9a881;
$beige1: #efc99f;
$beige2: #ffdbaf;
$beige3: #f8f8d9;
$beige4: #f8ebd3;
$silver_light: #e9e5e1;
$brown: #573718;
$grey: #382f32;
// rustic colors


// components variables colors
$menu_background: #f9f7f6;
$menu_link: $brown; 
$menu_link_hover: $beige; 